In [4]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

df=pd.read_csv('E:\DSBDA\edu-data.csv')

print(df.head(5))

  gender NationalITy PlaceofBirth     StageID GradeID SectionID Topic  \
0      M          KW       KuwaIT  lowerlevel    G-04         A    IT
1      M          KW       KuwaIT  lowerlevel    G-04         A    IT
2      M          KW       KuwaIT  lowerlevel    G-04         A    IT
3      M          KW       KuwaIT  lowerlevel    G-04         A    IT
4      M          KW       KuwaIT  lowerlevel    G-04         A    IT

  Semester Relation  raisedhands  VisITedResources  AnnouncementsView  \
0        F   Father         15.7              16.0                2.0
1        F   Father         20.0              20.0                3.0
2        F   Father         10.0               NaN                0.0
3        F   Father         30.0              25.0                5.0
4        F   Father         40.0              50.0               12.0

   Discussion ParentAnsweringSurvey ParentschoolSatisfaction  \
0        20.0                   Yes                     Good
1        25.0                   Yes                     Good
2        30.0                    No                      Bad
3        35.0                    No                      Bad
4        50.0                    No                      Bad

  StudentAbsenceDays Class
0            Under-7     M
1            Under-7     M
2            Above-7     L
3            Above-7     L
4            Above-7     M

In [5]:
print(df.tail(5))

    gender NationalITy PlaceofBirth       StageID GradeID SectionID  \
475      F      Jordan       Jordan  MiddleSchool    G-08         A
476      F      Jordan       Jordan  MiddleSchool    G-08         A
477      F      Jordan       Jordan  MiddleSchool    G-08         A
478      F      Jordan       Jordan  MiddleSchool    G-08         A
479      F      Jordan       Jordan  MiddleSchool    G-08         A

         Topic Semester Relation  raisedhands  VisITedResources  \
475  Chemistry        S   Father          5.0               4.0
476    Geology        F   Father         50.0              77.0
477    Geology        S   Father         55.0              74.0
478    History        F   Father         30.0              17.0
479    History        S   Father         35.0              14.0

     AnnouncementsView  Discussion ParentAnsweringSurvey  \
475                5.0         8.0                    No
476               14.0        28.0                    No
477               25.0        29.0                    No
478               14.0        57.0                    No
479               23.0        62.0                    No

    ParentschoolSatisfaction StudentAbsenceDays Class
475                      Bad            Above-7     L
476                      Bad            Under-7     M
477                      Bad            Under-7     M
478                      Bad            Above-7     L
479                      Bad            Above-7     L

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               468 non-null    float64
 10  VisITedResources          470 non-null    float64
 11  AnnouncementsView         474 non-null    float64
 12  Discussion                477 non-null    float64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: float64(4), object(13)
memory usage: 63.9+ KB

In [7]:
print(df.describe())

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   468.000000        470.000000         474.000000  477.000000
mean     46.499359         55.095745          37.955696   43.163522
std      33.035488         32.986160          26.696005   27.527879
min    -172.000000          0.000000           0.000000    1.000000
25%      15.525000         20.000000          14.000000   20.000000
50%      50.000000         65.500000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     200.000000         99.000000          98.000000   99.000000

In [8]:
print(df.dtypes)

gender                       object
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float64
VisITedResources            float64
AnnouncementsView           float64
Discussion                  float64
ParentAnsweringSurvey        object
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

In [9]:
print(df.shape)

(480, 17)

In [32]:
df['Discussion']=df['Discussion'].astype(str)

In [36]:
print(df.dtypes)

gender                       object
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float64
VisITedResources            float64
AnnouncementsView           float64
Discussion                   object
ParentAnsweringSurvey        object
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

In [37]:
type_map = {
    'int64': 'integer',
    'float64': 'float',
    'object': 'string',
    'bool': 'boolean'
}

In [38]:
print(pd.Series({col: type_map[str(df[col].dtype)] for col in df}, name='Data Types'))

gender                      string
NationalITy                 string
PlaceofBirth                string
StageID                     string
GradeID                     string
SectionID                   string
Topic                       string
Semester                    string
Relation                    string
raisedhands                  float
VisITedResources             float
AnnouncementsView            float
Discussion                  string
ParentAnsweringSurvey       string
ParentschoolSatisfaction    string
StudentAbsenceDays          string
Class                       string
Name: Data Types, dtype: object

In [39]:
print(df['gender'])

0      M
1      M
2      M
3      M
4      M
      ..
475    F
476    F
477    F
478    F
479    F
Name: gender, Length: 480, dtype: object

In [41]:
df['gender'].replace(['M','F'],[0,1],inplace=True)

In [42]:
print(df['gender'])

0      0
1      0
2      0
3      0
4      0
      ..
475    1
476    1
477    1
478    1
479    1
Name: gender, Length: 480, dtype: int64

In [47]:
df['raisedhands']=df['raisedhands'].astype(float)

In [48]:
print(df['raisedhands'])

0      15.7
1      20.0
2      10.0
3      30.0
4      40.0
       ...
475     5.0
476    50.0
477    55.0
478    30.0
479    35.0
Name: raisedhands, Length: 480, dtype: float64

In [51]:
print(df.dtypes)

gender                        int64
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float64
VisITedResources            float64
AnnouncementsView           float64
Discussion                   object
ParentAnsweringSurvey        object
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

In [61]:
# df['raisedhands']=df['raisedhands'].astype(int)
df['raisedhands'] = df['raisedhands'].fillna(0).astype(int)

In [62]:
print(df['raisedhands'])

0      15
1      20
2      10
3      30
4      40
       ..
475     5
476    50
477    55
478    30
479    35
Name: raisedhands, Length: 480, dtype: int32

In [63]:
df['raisedhands'] = pd.to_numeric(df['raisedhands'], downcast='float')

In [64]:
print(df['raisedhands'])

0      15.0
1      20.0
2      10.0
3      30.0
4      40.0
       ...
475     5.0
476    50.0
477    55.0
478    30.0
479    35.0
Name: raisedhands, Length: 480, dtype: float32

In [57]:
print(df.dtypes)

gender                        int64
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float32
VisITedResources            float64
AnnouncementsView           float64
Discussion                   object
ParentAnsweringSurvey        object
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

In [58]:
print(df.columns)

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')